# Database
DATABASE_URL=postgresql://neondb_owner:npg_ZNz0OG5XekDl@ep-calm-rice-askkv3wn-pooler.c-4.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_HOST=localhost
DB_PORT=5432
DB_NAME=abyssinia_academy
DB_USER=abyssinia
DB_PASSWORD=academy2026

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRE=30d
JWT_ADMIN_SECRET=your-admin-jwt-secret-change-in-production

# Cloudinary
CLOUDINARY_CLOUD_NAME=dwu1urppe
CLOUDINARY_API_KEY=933927224476837
CLOUDINARY_API_SECRET=mExr6aJpTheeSEbCJbOpmhtdoq0

# Payment (Chapa)
CHAPA_SECRET_KEY=your-chapa-secret-key
CHAPA_PUBLIC_KEY=your-chapa-public-key

# App
NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:5000/api
